

.container {

  width: 100%;          
  margin: 0 auto;       
  padding: 4rem;
}

.pageTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #767a94;
}

.group {
  margin-bottom: 2rem;
}

.groupHeader {
  padding: 0.5rem 1rem;
  color: #ebecee;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #4f58729d;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  width: 100%;           
  box-sizing: border-box;
  
}

/* Estado cargando */
.loading {
  text-align: center;
  font-style: italic;
  margin-top: 2rem;
}
